ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.app-container{
    display: flex;
    padding:15px;
}
.card{
   border: 1px solid black; 
   border-radius: 10px;
   width: 50%;
   padding: 15px;
   margin-bottom: 25px;
}
.card-title{
    font-weight: bold;
    font-size: 24px;
}
.title-container{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.btn-favorite{
    background: transparent;
    border: none;

}
.star{
    background-image: url('../img/star.png');
    background-size: contain;
    width: 25px;
    height: 25px;
}
.yellow{
    background-image: url('../img/yellow.png');
    background-size: contain;
    width: 25px;
    height: 25px;
}
.star:hover{
    opacity: .7;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
}
input{
    margin-bottom: 20px;
}